<html>
  <h5>prompt-templates</h5>
  <p>{{ promptTemplates }}</p>

  <br />
  <h5>FewShot</h5>

  <p>{{ FewShot }}</p>

  <h5>Output Parse</h5>

  <p>{{ outputparse }}</p>
  <h5>Document loader</h5>
  <h5>Number of Pages</h5>

  <p>{{ Numberofpages }}</p>
  <h5>First Page</h5>

  <p>{{ firstpage }}</p>

  <h5>Text Spitter</h5>
  <!-- 
  <p>{{ FirstChunk }}</p>
  <p>{{ SecondChunk }}</p> -->

  <h5>Vector Store</h5>

  <h5>{{VectorStore}}</h5>

  <h5>CSV Loader</h5>

  <h5>{{CSVLoader}}</h5>
</html>
