{% extends "blog/base.html" %} {% block content %} {% for post in posts %}

<div class="card" style="margin: 20px">
  <div class="card-body">
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2>
          <a class="article-title" href="{% url 'blog-detail' post.id %}"
            >{{ post.title }}</a
          >
        </h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
  </div>
</div>
{% endfor %} {% endblock content %}
